.editor {
    margin: 2px 10px;
}

.editor textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 64px;
    height: auto;
    max-height: 1000px;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    resize: horizontal;
}

.editor .btn-group .btn {
    border-radius: 4px 4px 0 0;
}

.editor .btn-group {
    margin-right: 15px;
}